
tops_fashion.json
word2vec_model
pickels/28k_apparel_data
pickels/180k_apperal_data
pickels/180k_apparel_data
pickels/17k_apperal_data
pickels/16k_apperal_data_preprocessed
pickels/16k_apperal_data
*.npy
pickels/pickels/16k_apperal_data
pickels/pickels/16k_apperal_data_preprocessed
pickels/pickels/17k_apperal_data
pickels/pickels/180k_apparel_data
pickels/pickels/28k_apparel_data
pickels/pickels/28k_apparel_data
pickels/pickels/180k_apperal_data
